{% extends "base.html" %}

{% block content %}
<title>Изменение пароля</title>
<h1 style="text-align: center;">Изменение пароля</h1>
<h1 style="text-align: center;"><img src="{{ user.avatar(34) }}"> {{ user.name }}</h1>
<form method="POST">
    <div class="form-group col-12">
        <label for="validationCustom05">Password</label>
        <input type="text" name="password" class="form-control"
               id="validationCustom05" placeholder="Password" required>
    </div>
    <div class="form-group col-12">
        <label for="validationCustom06">Password_Again</label>
        <input type="text" name="password_again" class="form-control"
               id="validationCustom06" placeholder="Password Again" required>
    </div>

    <div class="form-group col-md-12">
        <button class="btn btn-success" type="submit">Изменить пароль</button>
    </div>
</form>
{% endblock %}